h4,
.input-group,
#btnList {
  padding-left: 15px;
}

/* Main viewer styling */
.mainContainer {
  border: 3px outset orangered;
  border-radius: 5%;
  margin-right: 10px;
}

/* 5-day forecast styling */
#fiveDay {
  margin-right: 10px;
}
.radius {
  border-radius: 10% 20%;
}

/* UV Index classes */
.moderate {
  background: yellow;
  color: black;
  padding: 5px;
  border-radius: 10%;
}

.high {
  background-color: orange;
  color: black;
  padding: 5px;
  border-radius: 10%;
}

.veryHigh {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 10%;
}

.extreme {
  background-color: rgb(146, 11, 146);
  color: white;
  padding: 5px;
  border-radius: 10%;
}
